@import url("//fonts.googleapis.com/css?family=Inconsolata:400,700|Abril+Fatface|Karla:400,400italic,700,700italic");

.menu-icon {
  line-height: 20px;
  position: static;
  font-size: 20px !important;
}

.container {
  font: 18px/1.5 Karla, sans-serif;
  max-width: 40em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Abril Fatface, serif;
}

h1 {
  font-size: 400% !important;
}

pre, code {
  font-family: Inconsolata, monospace !important;
}
